[bumpversion]
commit = true
tag = true
current_version = {{ cookiecutter.version }}

[bumpversion:file:src/trial/__init__.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"
